<div class="container">
	<div id="wrapper">
		<div id="columns">
			<div class="hatpost">
				<%= image_tag 'IMG_1259.JPG', :class => "style_image"%>
				<p> Light pink suede fitted cap </p>
				<p> $25.99 </p>
			</div>
			<div class="hatpost">
				<%= image_tag 'IMG_1262.JPG', :class => "style_image"%>
				<p> Maroon suede fitted cap </p>
				<p> $25.99 </p>
			</div>
			<div class="hatpost">
				<%= image_tag 'IMG_1261.JPG', :class => "style_image"%>
				<p> Black basic fitted cap </p>
				<p> $25.99 </p>
			</div>
			<div class="hatpost">
				<%= image_tag 'IMG_1260.JPG', :class => "style_image"%>
				<p> Denim fitted cap </p>
				<p> $25.99 </p>
			</div>
			<div class="hatpost">
				<%= image_tag 'IMG_1263.JPG', :class => "style_image"%>
				<p> Grey fitted cap </p>
				<p> $25.99 </p>
			</div>
			<div class="hatpost">
				<%= image_tag 'IMG_1264.JPG', :class => "style_image"%>
				<p> Black distressed fitted cap </p>
				<p> $25.99 </p>
			</div>
			<div class="hatpost">
				<%= image_tag 'IMG_1265.JPG', :class => "style_image"%>
				<p> White fitted cap </p>
				<p> $25.99 </p>
			</div>
		</div>
	</div>
</div>


